# Virtual environment
.venv/
venv/

# Python cache
__pycache__/
*.pyc
app/__pycache__/

# Environment variables
.env

# VS Code settings
.vscode/

# MacOS
.DS_Store


NOTES.txt

lambda-package/
lambda-deployment.zip
.aws/
*.tfstate
*.tfstate.backup
.terraform/

# AWS API call testing
request.json
output.json