# Virtual environment
.venv/
venv/

# Python cache
__pycache__/
*.pyc
app/__pycache__/

# Environment variables
.env

# VS Code settings
.vscode/

# MacOS
.DS_Store


NOTES.txt

package/

lambda-package/
lambda-deployment.zip
.aws/
*.tfstate
*.tfstate.backup
.terraform/
build-lambda.ps1
lambda-build-deploy-guide.txt

# AWS API call testing
request.json
output.json
response.json
lambda-test.json